---
import { withBase } from "../utils/withBase";

const { name, icon: _icon, organization, profile } = Astro.props;
const defaultAvatar = withBase("/default_avatar.svg");

const icon = _icon
  ? _icon.startsWith("http")
    ? _icon
    : withBase(`avatars/${_icon}`)
  : defaultAvatar;
---

<div class="flex flex-col gap-4">
  <div class="flex items-center gap-4 mt-4">
    <img class="size-16 rounded-full shadow-lg" src={icon} />
    <div>
      <div class="font-bold">{name}</div>
      {organization && <div class="text-sm text-gray-500">{organization}</div>}
    </div>
  </div>
  <p class="text-sm mt-2">{profile}</p>
</div>
