---
import { withBase } from "../utils/withBase";
import OrganizerCard from "./OrganizerCard.astro";

const { title, description, organizer, slug } = Astro.props;
---

<a href={withBase(`workshops/${slug}`)} class="block h-full">
  <div class="flex flex-col gap-4 rounded shadow-lg p-8 h-full">
    <h3 class="font-bold text-2xl">{title}</h3>
    <p>{description}</p>
    <OrganizerCard
      name={organizer.name}
      icon={organizer.icon}
      organization={organizer.organization}
      profile={organizer.profile}
    />
  </div>
</a>
